*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
html{
   font-size: 62.5%;
}

body{
   font-size: 1.6rem;
}
.container{
   border: .3rem solid black;
   display: flex;
   /* flex-direction: column-reverse; */
   /* flex-wrap: wrap; */
   justify-content: center /*flex-end flex-start space-around space-evenly*/;
   align-items: center;
   height: 500px;
} 
.box{
   width: 10rem;
   height: 10rem;
   
}
.box1{
   background-color: aqua;
   flex-grow: 1;
}
.box2{
   background-color: purple;
   flex-grow: 1;
   
}
.box3{
   background-color: red;
}
.box4{
   background-color: green;
}
.box5{
   background-color: orange;
   
}
.box6{
   background-color: navy;
   
}